.site-footer {
    background-color: #3071D1; /* main footer background color */
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #F5F7FA; 
  }
  
  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
  }
  
  .site-footer hr.small {
    margin: 20px 0;
  }
  
  .site-footer h6 {
    color: #fff; /* Heading color in the footer */
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  