.site-footer {
  background-color: #3071D1; 
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #F5F7FA; 
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff; 
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #F5F7FA; 
}

.site-footer a:hover {
  color: #3366cc; 
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #F5F7FA; 
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc; 
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
      margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
      padding-bottom: 0;
  }

  .site-footer .copyright-text, .site-footer .social-icons {
      text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons a {
  display: inline-block;
  width: 54px;
  height: 54px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;

}

.social-icons img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.social-icons a:hover {

}

.social-icons a.facebook:hover,
.social-icons a.twitter:hover,
.social-icons a.linkedin:hover {

}

@media (max-width: 767px) {
  .social-icons li.title {
      display: block;
      margin-right: 0;
      font-weight: 600;
  }
}
