.site-footer {
    background-color: #3071D1; /* main footer background color */
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #F5F7FA; 
  }
  
  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
  }
  
  .site-footer hr.small {
    margin: 20px 0;
  }
  
  .site-footer h6 {
    color: #fff; /* Heading color in the footer */
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  .site-footer a {
    color: #F5F7FA; /* Link color set to white */
  }
  
  .site-footer a:hover {
    color: #3366cc; /* Color on hover */
    text-decoration: none;
  }
  
  .footer-links {
    padding-left: 0;
    list-style: none;
  }
  
  .footer-links li {
    display: block;
  }
  
  .footer-links a {
    color: #F5F7FA; /* Link color in footer links */
  }
  
  .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #3366cc; /* Color on hover */
    text-decoration: none;
  }
  
  .footer-links.inline li {
    display: inline-block;
  }